<h1>Stupid Coaching...</h1>

<div id="question">
<p><%= @question.capitalize %></p>
<p><em>-You</em></p>
</div>

<div id="answer">
<p id="a"><%= @answer %></p>
<p id="b">-Your Coach</p>
</div>


<%= link_to "Ask another question", ask_path %>
